body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #7289da;
    color: white;
    padding: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
}

li {
    background-color: white;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
}

li div {
    flex-grow: 1;
}

a {
    color: #7289da;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.download-button {
    background-color: #7289da;
    color: white;
    border: none;
    padding: 8px 17px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.download-button:hover {
    background-color: #5b6eae;
}

.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.delete-button:hover {
    background-color: #cc3333;
}

.upload-form {
    background-color: white;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
}

.upload-form input[type="file"] {
    margin-right: 10px;
    flex-grow: 1;
}

.upload-form button {
    background-color: #7289da;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.upload-form button:hover {
    background-color: #5b6eae;
}

#upload-result {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    display: none;
}
